* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section#score {
  width: 100%;
}

#board {

  position: absolute;
  width: 640px;
  height: 640px;
  margin-left: 39em;
  margin-top: 2em;
}

#board  > div {

  position: relative;
  border: 1px solid black;
  float: left;
  width: 64px;
  height: 64px;
  background-color: white
}


section#score div {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}
section#speed div {
  width: 11em;
  height: 4.5em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
  float: left;
  margin-left: 10%;
  font-size: 2em;
  font-weight: 700;
}

.normal {

  padding-left: 100px;
  margin-left: 10%;
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;

}
.hard {
  margin-left: 13em;
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;

}
.background {
  background: rgba(76,76,76,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
background-repeat: no-repeat;
background-size: contain;
height: 100vh;
}

.info {
  position: relative;
  float: left;
  margin-left: 50em;
  margin-top: 2em;
  width: 19em;
  height: 30em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;

}
.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.obstacle {
  background-image: url('../images/obstacle.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.p1 {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  height: 5em;
  text-align: center;
  padding: 1em;
}
.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin_info {
  background-image: url('../images/coin2.png');
  background-repeat: no-repeat;
  height: 5em;
  text-align: center;
  padding: 1em;
}
.obstacle_info {
  background-image: url('../images/obstacle.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 3em;
  text-align: center;
  padding: 0.6em;
  margin-bottom: 2em;
}
section#over {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.99);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

section#over p {
  color: red;
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  position: absolute;
  margin-top: 15%;
  background-color: black;
}

.invisible {
  display: none;
}
